@model SolarLab_Test_Prj.Models.Person

@{
    ViewData["Title"] = "Подробнее";
}

<h1>Подробнее</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Имя
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            Фамилия
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Surname)
        </dd>
        <dt class = "col-sm-2">
            Фотография
        </dt>
        <dd class = "col-sm-10">
            <img src="@("~/image/"+Model.Image)" asp-append-version="true" width="250px" height="250px" />
        </dd>
        <dt class = "col-sm-2">
            Дата рождения
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BirthdayDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Изменить</a> |
    <a asp-action="Index">Вернуться на главную</a>
</div>
